<p class="text-2xl font-medium">{{ actionName }} Task</p>
<form class="flex flex-col gap-1" [formGroup]="form" (ngSubmit)="onFormSubmit()" novalidate>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input required matInput formControlName="title">

    @if (form.controls.title.invalid) {
      <mat-error>Title is required</mat-error>
    }
  </mat-form-field>

  <div class="flex gap-2">
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select required formControlName="priority">
        <mat-option [value]="0">Low</mat-option>
        <mat-option [value]="1">Medium</mat-option>
        <mat-option [value]="2">High</mat-option>
      </mat-select>

      @if (form.controls.priority.invalid) {
        <mat-error>Priority is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select required formControlName="status">
        <mat-option [value]="0">Open</mat-option>
        <mat-option [value]="1">In Progress</mat-option>
        <mat-option [value]="2">Done</mat-option>
      </mat-select>

      @if (form.controls.status.invalid) {
        <mat-error>Status is required</mat-error>
      }
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>Due date</mat-label>
    <input required matInput [matDatepicker]="picker" formControlName="dueDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    @if (form.controls.dueDate.invalid) {
      <mat-error>Due date is required</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description (optional)</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div class="flex justify-end gap-2">
    <button mat-flat-button color="primary" aria-label="Submit Button" type="submit">
      Submit
    </button>
    <button mat-stroked-button color="warn" aria-label="Cancel Button" type="button" (click)="onCancelBtnClick()">
      Cancel
    </button>
  </div>
</form>